.footer {
  margin: 50px;
}

.social ul {
  list-style: none;
}

.social li {
  padding: 8px;
  font-size: 30px;
  color: black;
}

.exhibitions_list {
  padding: 2em;
  margin-top: 5em;
  text-align: center;
}

.exhibitions_list img {
  display: block;
  width: 100%;
  padding: 1em;
}
